body {
    background-color:black;
}

p {
    color:white;
}

h3 {
    color:white;
}

aside, .description {
    float: left;
    width: 50%; /* adjust the width as needed */
}

aside {
    margin-right: 20px; /* add some margin between the elements */
}